.input_text {
    border: 1px solid black;
    width: 200px;
}

.submit_button {
    background-color: black;
    color: white;
    border: none;
    padding: 5px;
    width: 150px;
    border-radius: 10px;
}

.d_flex {
    display: flex;
}

.align_items {
    align-items: center;
}

.m_l_r_a {
    margin-left: auto;
    margin-right: auto;
}