.input_text {
    border: 1px solid black;
    width: 200px;
}

.submit_button {
    background-color: black;
    color: white;
    border: none;
    padding: 5px;
    width: 150px;
    border-radius: 10px;
}

.d_flex {
    display: flex;
}

.align_items {
    align-items: center;
}

.m_l_r_a {
    margin-left: auto;
    margin-right: auto;
}

.icon_done:hover {
    color: red;
    font-size: 20px;
    transition: 0.5s;
}

.task_list > li:hover {
    text-decoration: line-through;
    transition: 0.3s;
}

.done {
    text-decoration: line-through;
}